body {
  background-color: #040d36;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("https://i.ibb.co/B6Y8LW6/b1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 900;
}

.header--title {
  transform: rotate(20deg) !important;

  font-size: 10em;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.ibb.co/B6Y8LW6/b1.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}
