body,
html {
  padding: 0px;
  margin: 0px;
  background-color: #1b2042;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #f17d10;
}
#header {
  width: 100%;
  height: 40em;
  text-align: center;
  padding: 40px;
  font-weight: 700;
  /*  background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/B6Y8LW6/b1.jpg"); */
  /*  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.wl {
  font-size: 120px;
  color: #352f28;
  margin-top: 5em;
}
.fs {
  color: #f17d10;
  font-size: 150px;
}
footer {
  padding: 10px;
  text-align: center;
  background: #070730;
  color: white;
  min-height: 2em;
  width: 100vw;
  /*  #f39b6d */
}
